
.button {
    width: 100%;

    border-radius: 100vh;

    box-shadow: 0 4px 24px rgba(0,0,0, 0.16);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75em 1em 0.75em 1em;

    box-sizing: content-box;

    outline: none;
    cursor: pointer;

    border: none;
    background-color: #FFFFFF;

    transition: transform 0.125s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}
