.HomePage {
    width: 100%;
    height: 100%;

    max-width: 520px;
    max-height: 680px;

    border: red solid;

    display: flex;
    justify-content: space-between;

    box-sizing: content-box;
}

.contracts {
    border: red solid;
    box-sizing: border-box;
    width: 100%;
}

.buttonContainer {
    display: grid;
    justify-content: space-around;
    grid-template-rows: 50% 50%;
}

.sideContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

